@model IEnumerable<PEC.Frontend.Models.CarModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Car Inventory</h1>
    <p>Here you can see a complete list of available cars.</p>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://t1-cms-1.images.toyota-europe.com/toyotaone/ieen/corolla_1980x1020_tcm-3044-1555806.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Corolla</h5>
                <h6 class="card-subtitle text-muted">Toyota</h6>
                <p class="card-text">Complete car with all the accessories available for the model.</p>
                @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://t1-cms-1.images.toyota-europe.com/toyotaone/ieen/corolla_1980x1020_tcm-3044-1555806.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Corolla</h5>
                <h6 class="card-subtitle text-muted">Toyota</h6>
                <p class="card-text">Complete car with all the accessories available for the model.</p>
                @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://t1-cms-1.images.toyota-europe.com/toyotaone/ieen/corolla_1980x1020_tcm-3044-1555806.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Corolla</h5>
                <h6 class="card-subtitle text-muted">Toyota</h6>
                <p class="card-text">Complete car with all the accessories available for the model.</p>
                @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://t1-cms-1.images.toyota-europe.com/toyotaone/ieen/corolla_1980x1020_tcm-3044-1555806.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Corolla</h5>
                <h6 class="card-subtitle text-muted">Toyota</h6>
                <p class="card-text">Complete car with all the accessories available for the model.</p>
                @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>
</div>
